<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079459706418-oc90jchfcc8f4df3kkamuorn2g9b7s5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079459706418-oc90jchfcc8f4df3kkamuorn2g9b7s5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBx2MX2K_H-3acZp8D3D-fpfOmmfS556Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>1079459706418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testmlkit.hi</string>
	<key>PROJECT_ID</key>
	<string>skinnoapp-429f1</string>
	<key>STORAGE_BUCKET</key>
	<string>skinnoapp-429f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079459706418:ios:f3f798520da2dec5</string>
	<key>DATABASE_URL</key>
	<string>https://skinnoapp-429f1.firebaseio.com</string>
</dict>
</plist>